body {
    font-family: 'palatino','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.card{
    color: black;
}

.instructions h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Paytone One','palatino';
    color: white;
}

.instructions {
    /* background-color: #61ce5e; */
    padding: 5px;
    width: 70%;
    margin: auto;
    color: #ece7e7;
}

form {
    background-color: #f8f5f5;
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    opacity: .9;
}

#playgroundForm{
    width: 100%;
    padding: 0px;
    
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  /* background-color: #61ce5e; */
  width: 40%;
  margin-right: auto;
  margin-left: 30%;
  padding: 5px;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
    background-color: grey;
}

table{
    width: 80%;
    margin: auto;
}

td{
    max-width: 500px;
}

tr{
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}


.card{
    width: 35%;
    border: outset;
    background: linear-gradient(-45deg,green,white);
}

.UserReviews{
    width: 60%;
    border: outset;
    float: right;
    min-height: 300px;
}

.select{
    color: black;
}

.btn-secondary{
    max-width: 300px; 
    margin: auto; 
}
